- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h1= link_to restaurant.name, restaurant_path(restaurant)
    %p= restaurant.description
    = star_rating(restaurant.average_rating)
    %div
      - if user_signed_in?
        = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
        -if restaurant.user_id == current_user.id
          = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
          = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    %p= "________________________________________________________"


- else
  %h1 No restaurants yet

%div{style: "padding: 20px;"}
  %a{href: new_restaurant_path,} Add restaurant
