- if @restaurant.errors.any?
  %section#errors
    %h3
      = pluralize @restaurant.errors.count, "error"
      prohibited this restaurant from being saved:
    %ul.alert.alert-danger{:role => "alert", :style => "width: 400px;"}
      - @restaurant.errors.full_messages.each do |message|
        = message

= form_for @restaurant do |f|
  = f.label :name
  %br
  = f.text_field :name
  %br
  = f.label :description
  %br
  = f.text_field :description
  %br
  %br
  = f.submit
